@tailwind utilities;
@tailwind base;
@tailwind components;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: 'Bahnschrift', sans-serif;
  background-color: rgb(26, 22, 23);
}

p {
  color: rgb(var(--foreground-rgb));
  font-family: 'Bahnschrift', sans-serif;
  background-color: rgb(26, 22, 23);
}

h1, h2, h3, h4, h5 {
  font-family: 'Bahnschrift', sans-serif;
}

ul {
  list-style-type: decimal;
  font-family: Arial, sans-serif; /* Font for the list items */
  font-size: 18px; /* Font size of the list items */
  margin-left: 40px;
}
ul li {
  margin-bottom: 10px; /* Space between list items */
}

.changeLang {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none;         /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
  border-radius: 2px;
  background-color: rgb(209, 209, 209);
  color: rgb(11, 15, 24);
  border-width: 0.75px
}

span.changeLang.on {
  position: absolute;
  transform: translateX(-2px);
  background-color: rgb(209, 209, 209);
  color: rgb(11, 15, 24);
  border-color: rgb(163, 163, 163);
  transition: 0.25s;
}

span.changeLang.off {
  position: absolute;
  transform: translateX(-20px);
  background-color: rgb(11, 15, 24);
  color: rgb(209, 209, 209);
  border-color: rgb(163, 163, 163);
  transition: 0.25s;
}

.lang {
  border-style: groove;
  border-width: 2px;
  border-radius: 5px;
  padding-inline: 20px;
  cursor: pointer;
}

span.lang.on {
  border-color: aliceblue;
  background: linear-gradient(to right, rgb(0, 87, 0), rgb(150, 0, 0));
  transition: 0.3s;
}

span.lang.off {
  border-color: rgb(12, 12, 12);
  background: linear-gradient(to right, rgb(0, 87, 0), rgb(150, 0, 0));
  transition: 0.3s;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
